# Database Configuration
# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASS=
DB_NAME=nest_typeorm_starter

# Generate strong random secrets (use different values!)
JWT_ACCESS_SECRET=my-super-secure-random-access-secret-key-123
JWT_REFRESH_SECRET=a-different-secure-random-refresh-secret-key-456
JWT_ACCESS_EXPIRATION=172800000 # 2 days in milliseconds
JWT_REFRESH_EXPIRATION=604800000 # 7 days in milliseconds

NODE_ENV="development"
AWS_S3_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""

# Keycloak Configuration
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=my-realm
KEYCLOAK_CLIENT_ID=my-client
KEYCLOAK_CLIENT_SECRET=my-secret

# AdminJS Configuration
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_COOKIE_SECRET=a-very-long-secret-at-least-32-chars!!
PORT=4000


MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_BUCKET=nest-starter

# Optional (for switching later)
STORAGE=minio