JWT_ACCESS_SECRET=my-super-secure-random-access-secret-key-123
JWT_REFRESH_SECRET=a-different-secure-random-refresh-secret-key-456
JWT_ACCESS_EXPIRATION=172800000 # 2 days in milliseconds
JWT_REFRESH_EXPIRATION=604800000 # 7 days in milliseconds

NODE_ENV="development"
AWS_S3_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""

PORT=4000

DATABASE_URL="postgresql://khamenkhai@localhost:5432/prisma_version?schema=public"